<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .avatar{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 1px solid #dddddd;
            overflow: hidden;
        }

        .avatar img {
            width: 100%;
            height: 100%;
            object-fit: contain; /* hoặc 'contain', tùy thuộc vào cách bạn muốn hình ảnh hiển thị */
        }
    </style>
</head>
<body>
    <nav th:replace="index.html :: nav-bar"></nav>
    <div class="container my-2" style="padding-top: 70px">
        <h4>Information</h4>
        <div class="avatar">
            <img th:if="${profilePicture != null}"
                 th:src="'data:image/jpg;base64,' + ${profilePicture}"
                 alt="Profile Picture"/>
            <img th:if="${profilePicture == null}" src="/images/default-profile.jpg" alt="Default Profile Picture"/>
        </div>
        <form action="#" th:action="@{/updateUser}" th:object="${user}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <!--<label for="id">ID</label>-->
                <input type="hidden" id="id" class="form-control" th:field="*{id}">
            </div>
            <input type="file" th:field="*{profilePictureFile}" accept="image/*">
            <div class="mb-3">
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" class="form-control" th:field="*{firstName}">
                <p class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
            </div>
            <div class="mb-3">
                <label for="last-name">Last Name</label>
                <input type="text" id="last-name" class="form-control" th:field="*{lastName}">
                <p class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
            </div>
            <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" th:field="*{email}">
                <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>
            <button type="submit" class="btn btn-success">Update</button>
            <a class="btn btn-dark" th:href="@{/}">BACK</a>
        </form>
    </div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>